@using Microsoft.AspNetCore.Components
@using Radzen.Blazor
@inherits LayoutComponentBase
@inject ThemeService ThemeService
@inject QueryStringThemeService QueryStringThemeService



<RadzenComponents />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        
        <div class="top-row px-4">
            <a href="https://github.com/nikki-amiefong/ITFPatternTraining/blob/main/README.md" target="_blank">About</a>

            <RadzenAppearanceToggle class="rz-mx-2" />

        </div>
         
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



